<mat-toolbar color="primary" class="header">
  <img src="assets/logo.png" class="headlogo">
  <a href="#" class="logo"><span>MAKE SOME O</span>छा</a>  

  <div class="spacer"></div>       
    <a mat-button class="active" routerLink="/dashboard" *ngIf="isAuthenticated">Dashboard</a>
    <a mat-button [routerLink]="['/register']" *ngIf="isAuthenticated">Register</a>
    <a mat-button [routerLink]="['/admin']" *ngIf="userRole === 'admin'">Admin</a>
    <a mat-button class="active" routerLink="/login" *ngIf="!isAuthenticated">Login</a>
    <a mat-button class="active" (click)="onLogOut()" *ngIf="isAuthenticated">Logout</a>
</mat-toolbar>






<!-- Router Added
<mat-toolbar color="primary">
    <span>User Management</span>
     <div class="spacer"></div>
       <a mat-button routerLink="/users">Home</a>
       <a mat-button routerLink="/add">About</a>
       <a mat-button routerLink="/">Contact</a>
</mat-toolbar> -->