/* .mat-toolbar {
    background-color: cornflowerblue;
    color: white;
}

.mat-button {
    color: white;
} */

.spacer {
    flex: 1 1 auto;
}

.header{
    /* position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10000;*/
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color: #EF5E09;
    font-size: 2.5rem;
}

.headlogo{
    position: fixed;
    height: auto;
    left: 60px;
    width: 50px;
}

.header .logo span{
    /*color: var(--main-color);*/
    color: #faf9f5;
}

/* .header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin-right: 2rem;
}

.header .navbar a:hover{
    color: var(--main-color);
} */