::ng-deep #txnTable thead {
    background-color: #d95d10 !important;
}

::ng-deep #txnTable tbody {
    height: 100px;
    overflow: auto;
}

.filter-field {
    width: 100%;
    color: #fff;
    background-color: #000;
}

.mat-mdc-table {
    width: 100%;
    max-height: 500px;
    overflow: auto;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

.table-container {
    height: 300px;
    overflow: auto;
}

.mdc-text-field {
    height: 50px;
}
  
  /* .mat-column-name {
    height: 100px;
  } */
