<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registration-form">
            <div class="form-group">
                <label for="eventObj">Event Name:</label>
                <select id="eventObj" formControlName="eventObj" class="form-control" [compareWith]="compareFn">
                    <option *ngFor="let event of eventOptions" [ngValue]="event">
                        {{ event.name }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="userName">Name:</label>
                <input type="text" id="userName" formControlName="userName" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" formControlName="description" class="form-control">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" id="price" formControlName="price" class="form-control">
                <!-- <span *ngIf="registerForm.get('email').errors['required'] && registerForm.get('email').touched" class="help-block">*Information Required</span>
                <span *ngIf="registerForm.get('email').errors['email']" class="help-block">Please enter a valid email</span> -->
            </div>
            <div class="form-group">
                <label for="noOfTickets">Number of Tickets:</label>
                <input type="number" id="noOfTickets" formControlName="noOfTickets" class="form-control">
                <span *ngIf="!registerForm.get('noOfTickets').valid && registerForm.get('noOfTickets').touched"
                    class="help-block">Minimum nomber of tickets should be 1</span>
            </div><br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    <div *ngIf="productList.length >=1" class=" row col-lg-12 col-sm-offset-1 col-md-offset-2 p-5">

        <div class="col-12 button-group-container mb-3">
            <button *ngFor="let filter of filters" mat-raised-button class="filter-btn"
                [color]="selectedFilter === filter ? 'primary' : ''" (click)="toggleFilter(filter)">
                {{ filter }}
            </button>
            <!-- <div class="form-group">
                <input type="text" [(ngModel)]="selectedFilter" class="form-control" placeholder="Search Tent No:">
            </div> -->
        </div>

        <mat-card class="product-card col-lg-5 col-md-12 col-xs-12 mr-2" *ngFor="let product of filteredItems">
            <div class="card-background" [ngStyle]="{'background-image': 'url(' + product.imageUrl + ')'}">
            </div>
            <mat-card-header>
                <div mat-card-avatar class="product-header-image"></div>
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-subtitle>{{product.msoEvent.name}}</mat-card-subtitle>
                <mat-card-subtitle>&#x20b9; {{product.price}}</mat-card-subtitle>
                <mat-card-subtitle>Status: {{product.active ? "Active" : "Inactive"}}</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <p>{{product.description}}</p>
            </mat-card-content>
            <mat-card-actions align="end" class="gap-3">
                <button class="btn" [ngClass]="product.active ? 'btn-red' : 'btn-green' "
                    (click)="onDeactivate(product._id)">{{product.active ? "Deactivate" : "Activate"}} </button>
                <button class="btn btn-danger" (click)="onDelete(product._id)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>