<p>login works!</p>
<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="login-form" #loginForm="ngForm">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
              </mat-form-field></td>
              <td>
                <!-- <span class="error-message" *ngIf="loginError">
                  Please enter valid username and password
                </span> -->
                
              <app-alert [message]="loginError" *ngIf="loginError"></app-alert>
              </td>
            </tr></table>
          </form>
          <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="login()" color="primary" [disabled]="!loginForm.valid">Login</button>
        </mat-card-actions>
    </mat-card>
</div>
