/* .content-container {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 25px;
  }

  mat-sidenav[style] {
    visibility: visible !important;
  }
  .mat-drawer {
    transform: none !important;
  } */

/* .example-container {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(155, 184, 26);
} */

h1 {
    padding: 0 1rem;
}

h2 {
    padding: 1rem;
}

.dashboard-toolbar {
    top: 50px;
    position: fixed;
    z-index: 2;
    background: #000 !important;
}

mat-sidenav-container {
    height: 100vh;
    background-color: #000;
}

.expanded {
    width: 250px;
}

.nav-btn {
    width: 100%;
    font-size: medium;
    margin-bottom: 10px;
}

/* Move the content down so that it won't be hidden by the toolbar */
mat-sidenav {
    padding-top: 6.5rem;

    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }

    .entry {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem;
    }
}

.sideNavBar {
    background-color: #000;
}

/* Move the content down so that it won't be hidden by the toolbar */
mat-sidenav-content {
    padding-top: 3.5rem;
    padding-left: 3.5rem;
    overflow: auto;
    height: 100vh;

    @media screen and (min-width: 601px) {
        padding-top: 4rem;
        /* background-color: blue; */
    }

    @media screen and (max-width: 600px) {
        padding-top: 10rem;
        padding-left: 1.5rem;
        /* background-color: red; */
    }
}

mat-list-item a.active {
    font-weight: bold !important;
    color: blue !important;
}