<!-- <p style="color:#fff">dashboard works!</p>
<p>Welcome {{user.name}} {{user.bookingId}}</p> -->

<div class="row col-lg-12">
  <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-2"> -->
  <section class="home" id="home">
    <div class="content">
      <h3>the community you didn't know <span> you needed </span></h3>
      <a (click)="goToShopPage()" class="btn">BOOK NOW</a>
    </div>

    <!-- <swiper-container class="home-slider" effect="cards" loop="true" navigation="true" 
      autoplay="true" speed="500" pagination="true">
      <swiper-slide><img src="assets/slide1.png" alt=""></swiper-slide>
      <swiper-slide><img src="assets/slide2.png" alt=""></swiper-slide>
      <swiper-slide><img src="assets/slide3.png" alt=""></swiper-slide>
      <swiper-slide><img src="assets/slide4.png" alt=""></swiper-slide>
      <swiper-slide><img src="assets/slide5.png" alt=""></swiper-slide>
      <swiper-slide><img src="assets/slide6.png" alt=""></swiper-slide>
      <swiper-slide><img src="assets/slide7.png" alt=""></swiper-slide>
    </swiper-container> -->

    <img src="assets/main_poster.png" alt="" class="main-banner">
    


  </section>
  <!-- </div> -->

  <!-- service section start -->
  <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-2"> -->
  <section class="service" id="service">
    <h1 class="heading"> our <span>services</span></h1>
    <div class="box-container">
      <div class="box ">
        <!-- <i class="fa fa-map-marker-alt"></i> -->
        <h3>BOOK A SHOW</h3>
        <p>From corporate events to festivals,colleges and private parties, our talented musicians
          bring energy and passion to every performance. Contact Us for an unforgettable live music entertainment and
          jamming</p>
        <a href="https://docs.google.com/forms/d/1hdZ4jVvqfspnvkatgkRiA3OFaI4k0-xvODg3Lgoqmtk/viewform?edit_requested=true"
          class="btn">BOOK A SHOW</a>
      </div>

      <div class="box">
        <!-- <i class="fa fa-envelope"></i> -->
        <h3>JOIN THE TEAM</h3>
        <p>Join and work with our core team, organize events, gain valuable experience and exposure !!</p>
        <a href="https://docs.google.com/forms/d/1DwngPs53SvmDRMl_rv0iftxeq0RF-6rIndvL82IVt10/viewform?edit_requested=true"
          class="btn">JOIN</a>
      </div>

      <div class="box">
        <!-- <i class="fa fa-music"></i> -->
        <h3>UPCOMING EVENTS</h3>
        <p>MSO curating the best of all till date.Tenting, movie night, workshops and more on June 15 at Hamsah
          Organic
          Farm . Book your slots now </p>
        <a href="https://rzp.io/l/PsGzNu6" class="btn">BOOK NOW</a>
      </div>

      <!-- <div class="box"> -->
      <!-- <i class="fa fa-utensils"></i> -->
      <!-- <h3>MEET THE TEAM</h3>
          <p>Meet our team, a vibrant mix of musicians, organizers, and creators, here to carefully curate a beautiful community experience !! </p>
      </div> -->

    </div>

  </section>
  <!-- </div> -->
  <!-- service section end -->

  <!-- about start -->
  <section class="about" id="about">
    <h1 class="heading"><span>ABOUT </span>US</h1>

    <div class="row">
      <div class="image">
        <img src="assets/aboutimg.png" alt="">
      </div>
      <div class="content">
        <h3>MAKE SOME Oछा WITH US</h3>
        <p>A community gathering with music,laughter and dance foster a sense of spirit, strengthen social bonds, and
          provide an opportunity for people to relax and have fun in a collective setting.</p>
        <p>Make Some Ochha curates the best of community gatherings, where people can jam,socialize and even perform. We
          invite to create an unforgettable experience that Bangalore is waiting for..</p>
        <a href="#" class="btn">CONTACT US</a>
      </div>
    </div>
  </section>
  <!-- about end -->

  <!-- gallery start  -->

  <section class="gallery" id="gallery">

    <h1 class="heading">Our <span>gallery</span></h1>

    <div class="box-container">

      <div class="box">
        <img src="assets/g1.png" alt="">
        <h3 class="title">Church Street Jamming</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>

      <div class="box">
        <img src="assets/g2.png" alt="">
        <h3 class="title">Just BLR</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>

      <div class="box">
        <img src="assets/g3.png" alt="">
        <h3 class="title">Byg Brewski Brewing Company</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>

      <div class="box">
        <img src="assets/g4.png" alt="">
        <h3 class="title">Kammanahalli</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>

      <div class="box">
        <img src="assets/g5.png" alt="">
        <h3 class="title">Peck x Oछा</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>

      <div class="box">
        <img src="assets/g6.png" alt="">
        <h3 class="title">Bharatam FISAT College Fest</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>

      <div class="box">
        <img src="assets/g7.png" alt="">
        <h3 class="title">Zariyaa Happiness Festival- HCL</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>

      <div class="box">
        <img src="assets/g8.png" alt="">
        <h3 class="title">One with Bangalore Malayalis</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>

      <div class="box">
        <img src="assets/g9.png" alt="">
        <h3 class="title">Our Audience</h3>
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share"></a>
          <a href="#" class="fas fa-eye"></a>
        </div>
      </div>


    </div>
  </section>
  <!-- gallery end -->

  <!-- price section start` -->
  <!-- <section class="price" id="price">
    <h1 class="heading"> EARLY BIRD TICKETS LIVE<span> now</span></h1>

    <div class="box-container">

      <div class="box">
        <h3 class="title"> FESTIVAL PASS</h3>
        <h3 class="amount">&#x20b9; 999/-</h3>
        <ul>
          <li><i class="fas fa-check"></i>Oछा Jamming</li>
          <li><i class="fas fa-check"></i>Open Mic</li>
          <li><i class="fas fa-check"></i>StandUP Comedy</li>
          <li><i class="fas fa-check"></i>Workshops and Stalls</li>
          <li><i class="fas fa-check"></i>Games and Activities</li>
        </ul>
        <a href="#" class="btn">BOOK NOW</a>
      </div>

      <div class="box">
        <h3 class="title">CINECAMPING PASS</h3>
        <h3 class="amount">STARTING Rs.499/-</h3>
        <ul>
          <li><i class="fas fa-check"></i>Tenting</li>
          <li><i class="fas fa-check"></i>Movie Under The Stars</li>
        </ul>
        <a href="#" class="btn">BOOK NOW</a>
      </div>

      <div class="box">
        <h3 class="title">GET BOTH</h3>
        <h3 class="amount">FESTIVAL PASS AND CINECAMPING</h3>
        <ul>
          <li><i class="fas fa-check"></i>Oछा Jamming</li>
          <li><i class="fas fa-check"></i>Open Mic</li>
          <li><i class="fas fa-check"></i>StandUP Comedy</li>
          <li><i class="fas fa-check"></i>Workshops and Stalls</li>
          <li><i class="fas fa-check"></i>Games and Activities</li>
          <li><i class="fas fa-check"></i>Tenting</li>
          <li><i class="fas fa-check"></i>Movie Under The Stars</li>
        </ul>
        <a href="#" class="btn">BOOK NOW</a>
      </div>
    </div>
  </section> -->
  <!-- price end` -->

  <!-- review start -->
  <section class="review" id="review">
    <h1 class="heading">client's <span>review</span></h1>
    <swiper-container class="review-slider" slides-per-view="3" mousewheel-force-to-axis="true" speed="500"
      pagination="true" loop="true" grab-cursor="true" autoplay="true">
      <swiper-slide class="box">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="assets/pic1.png" alt="">
          <div class="uer-info">
            <h3>Rahul Ananth</h3>
            <span>Corporate Employee</span>
          </div>
        </div>
        <p>Great way to spend a Sunday evening! Kudos to everyone who organized the event. Onwards and upwards from
          here!</p>
      </swiper-slide>
      
      <swiper-slide class="box">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="assets/pic1.png" alt="">
          <div class="uer-info">
            <h3>Sethu Manuel</h3>
            <span>IT Consultant</span>
          </div>
        </div>
        <p>Amazing performance,really liked the concept of jamming where you involve all the audience,good to see the kind of friendship vibe you create around.</p>
      </swiper-slide>

      <swiper-slide class="box">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="assets/pic2.png" alt="">
          <div class="uer-info">
            <h3>Julia Anil</h3>
            <span>College Student</span>
          </div>
        </div>
        <p>Absolutely loved the vibe and energy!. The event was a blast,and we are already looking for the next one</p>
      </swiper-slide>

      <swiper-slide class="box">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="assets/pic2.png" alt="">
          <div class="uer-info">
            <h3>Aiswarya</h3>
            <span>Student</span>
          </div>
        </div>
        <p>Loved every bit of the show! Looking forward to more of time to make some ochha !!</p>
      </swiper-slide>

    </swiper-container>
  </section>
  <!-- review end -->

  <!-- footer start -->

  <section class="footer">
    <div class="box-container">
      <div class="box">
        <h3>Quick Links</h3>
        <a href="#home"><i class="fas fa-arrow-right"></i>Home</a>
        <a href="#service"><i class="fas fa-arrow-right"></i>Our services</a>
        <a href="#about"><i class="fas fa-arrow-right"></i>About</a>
        <a href="#gallery"><i class="fas fa-arrow-right"></i>Gallery</a>
        <a href="#price"><i class="fas fa-arrow-right"></i>Price</a>
        <a href="#review"><i class="fas fa-arrow-right"></i>Review</a>
        <!-- <a href="#"><i class="fas fa-arrow-right"></i>Contact</a> -->
      </div>

      <div class="box">
        <h3>Contact Info</h3>
        <a href="#"><i class="fas fa-phone"></i>7994664772</a>
        <a href="#"><i class="fas fa-phone"></i>8943153600</a>
        <a href="#"><i class="fas fa-envelope"></i>makesomeochha@gmail.com</a>
        <a href="#"><i class="fas fa-envelope"></i>ochha.mixedmic@gmail.com</a>
        <a href="#"><i class="fas fa-map-maker-alt"></i>Bangalore, India, 560037</a>
      </div>

      <div class="box">
        <h3>Follow Us</h3>
        <a href="https://www.facebook.com/profile.php?id=61553815675836&sk=about"><i
            class="fab fa-facebook-f"></i>Facebook</a>
        <a href="https://www.instagram.com/sdivya._/?igsh=MTRxODc2OXpsZXJ4MQ%3D%3D&utm_source=qr"><i
            class="fab fa-instagram"></i>Instagram</a>
        <a
          href="https://www.linkedin.com/in/make-some-oछा-792130296/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i
            class="fab fa-linkedin"></i>Linkedin</a>
      </div>
    </div>
  </section>

</div>