<p style="color:#fff">shop works!</p>

<div class="row col-lg-12">


    <div class="row summary-container col-lg-12">
        <label>Rohith Chandra</label>

        <mat-stepper #stepper class="example-stepper" [linear]="true" [orientation]="(stepperOrientation | async)!">
            <mat-step [stepControl]="totalAmount" label="Fill out your name">
                <div class="product-container">
                    <mat-card class="product-card" *ngFor="let product of productList">
                        <mat-card-header>
                            <div mat-card-avatar class="product-header-image"></div>
                            <mat-card-title>{{product.title}}</mat-card-title>
                            <mat-card-subtitle>Rs. 499</mat-card-subtitle>
                        </mat-card-header>
                        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu"> -->
                        <mat-card-content>
                            <p>{{product.description}}</p>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <div class="add-button-container">
                                <button mat-mini-fab (click)="removeProductFromCart(product)" color="accent"
                                    aria-label="Example icon button with a plus one icon">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                            <input matInput type="text" [(ngModel)]="product.count">
                            <div class="add-button-container">
                                <button mat-mini-fab (click)="addProductToCart(product)" color="accent"
                                    aria-label="Example icon button with a plus one icon">
                                    <mat-icon>adds</mat-icon>
                                </button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div>
                    <button mat-button matStepperNext class="btn btn-primary">Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="checkOutForm" label="Fill out your details">
                <form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()" class="registration-form">
                    <div class="form-group">
                        <label for="userName">Name:</label>
                        <input type="text" id="userName" formControlName="userName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" formControlName="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control">
                    </div>
                    <br>
                    <div>
                        <button mat-button matStepperPrevious class="btn btn-secondary mso-mr-2">Back</button>
                        <button mat-button matStepperNext class="btn btn-primary">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="true" label="Total Amount: {{totalAmount}}">
                <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="payment-form">
                    <ul class="list-group" *ngIf="ticket.shopCart.length >=1">
                        <li class="" *ngFor="let prodItem of ticket.shopCart">
                            <p>{{ prodItem.name }} - {{ prodItem.price }}</p>
                        </li>
                    </ul>
                    <ul>
                        <li> GST (18%):</li>
                        <li> Total Amount : {{totalAmount}}</li>
                    </ul>
                    <br>
                    <div>
                        <button mat-button matStepperPrevious class="btn btn-secondary mso-mr-2">Back</button>
                        <button mat-button class="btn btn-primary mso-mr-2" (click)="createRazorpayOrder()" [disabled]="totalAmount <= 0">Pay</button>
                        <button mat-button matStepperNext class="btn btn-primary">Finish</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="false">
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div class="row summary-step" >
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <mat-card class="success-card" *ngIf="isPaymentSuccess">
                            <mat-card-header>
                                <div mat-card-avatar class="success-header-image"></div>
                                <mat-card-title>Success</mat-card-title>
                                <mat-card-subtitle>Rs. 499</mat-card-subtitle>
                            </mat-card-header>
                            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu"> -->
                                <div class="qrcodeImage">
                                    <qrcode [qrdata]="qrdata"></qrcode>
                                </div>
                                <mat-card-content>
                                    <ul class="list-group list-group-numbered">
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto fw-bold">
                                                <p>Mr. {{transactionDetails.payload.name}}</p>
                                                <p>{{transactionDetails.payload.email}}</p>
                                                <p>{{transactionDetails.payload.phone}}</p>
                                                <p>Ticket Id: {{transactionDetails.payload._id}}</p>
                                                <p>Payment Id: {{transactionDetails.payload.paymentId}}</p>
                                                <p>Total Amount : Rs. {{transactionDetails.payload.amount}}</p>
                                                <p>Purchased At: {{transactionDetails.payload.createdAt}}</p>
                                                <input [(ngModel)]="transactionDetails.payload.name">
                                            </div>
                                        </li>
                                    </ul>
                                </mat-card-content>
                        </mat-card>
                        <mat-card class="failed-card" *ngIf="false">
                            <mat-card-header>
                                <div mat-card-avatar class="success-header-image"></div>
                                <mat-card-title>Booking Failed</mat-card-title>
                                <mat-card-subtitle>Rs. 499</mat-card-subtitle>
                            </mat-card-header>
                            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu"> -->
                            <mat-card-content>
                                <p>Notes</p>
                            </mat-card-content>

                        </mat-card>
                    </div>
                    <button mat-button class="btn btn-secondary" (click)="goHome()">Back</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>

</div>